<?xml version="1.0"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
	  <add key="CnnKeyEncripted" value="LAkKVERQkjdcJvqCXl4bIh/MQlhlny18UihjoNHHs48UIOeXyoRxM9wCX0JzPXooCoz7oNUSMEOrByx3hMYfaYp0eosqJ/wbC2xGK4uayAaOsNwXeePqTd9w+df8sOhKMFLSQp9iXq7wCVB+REvhdsofU4IsrIB0hj7K5w6TT8U=" />
	  <!-- WindowsAuthentication: indica si el servidor de Pectra utiliza authentenciación de windows o no. -->
	  <add key="WindowsAuthentication" value="false" />
	  <!-- WindowsAuthentication_domain (opcional): indica el nombre de dominio, que será agregado al nombre de usuario, al hacer el login en Pectra. -->
	  <!-- <add key="WindowsAuthentication_domain" value="DOMAIN"/> -->

	  <!--Valores para obtener el TrxId-->
	  <add key="UsrId" value="pectra" />
	  <add key="UsrPwd" value="" />
	  <add key="languaje" value="Spanish" />
	  <add key="OrgId" value="pectra" />
	  <add key="UoId" value="1" />
	  <add key="ProfId" value="GerenteMantenimiento" />
	  <add key="ActId" value="38" />
	  <add key="InsId" value="" />
	  <add key="FunctionId" value="" />
	  <add key="PkgId" value="1" />
	  <add key="PngId" value="194" />
	  <add key="SubProId" value="40" />
	  <add key="VersionId" value="1" />
	  <add key="Blocked" value="false" />
	  <!--fin obtener valores TrxId-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringKey" connectionString="TOnOm9W9g48i9F3m75KmbuZcihw95Fj55l4iFhZ7b242w68IjB+6OdMfZXt/jSZC+nLzjVUIusC0QPqazZnC80bfkftVmboy4FlFM1gICbVFT0j6hNhVl8qb4p/EfWcq1XEyD8db5k5Uxk6MuzXiMG+d7xhKmyNxY0M99Sxgjuic91q636KH6Qg5h+jiZcJXvYq0/3BnBHZ6009cMt3q2SS3ERf2bpXWCjET0YnHmjeZ4gzOsnXq5mByGuBKWXYM" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1" useFullyQualifiedRedirectUrl="true" maxRequestLength="2147483647" requestLengthDiskThreshold="24576" executionTimeout="999999" enableVersionHeader="false"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPectraOBPIService"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBPService">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IPectraOBPIService">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IGDService">
          <security mode="None"/>
        </binding>
        <binding name="WSHttpBinding_IGDService1"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="[PectraSoapPortUrl]/PectraCoreServices/BusinessProcess.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBPService" contract="PectraBPReference.IBPService" name="WSHttpBinding_IBPService"/>
      <endpoint address="[PectraSoapPortUrl]/PectraCoreServices/PectraOBPI.svc/ws" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPectraOBPIService" contract="PectraOBPIReference.IPectraOBPIService" name="WSHttpBinding_IPectraOBPIService"/>
      <endpoint address="[PectraSoapPortUrl]/PectraCoreServices/PectraOBPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPectraOBPIService" contract="PectraOBPIReference.IPectraOBPIService" name="BasicHttpBinding_IPectraOBPIService"/>
      <endpoint address="[PectraSoapPortUrl]/PectraCoreServices/GeneralDomain.svc/PectraSecurity" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGDService" contract="PectraGDReference.IGDService" name="WSHttpBinding_IGDService"/>
      <endpoint address="[PectraSoapPortUrl]/PectraCoreServices/GeneralDomain.svc/WindowsSecurity" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGDService1" contract="PectraGDReference.IGDService" name="WSHttpBinding_IGDService1">
        <identity>
          <userPrincipalName value="pectraserver\PectraCom"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
</configuration>
<!--ProjectGuid: B1A487DA-5EF4-4265-8BAE-0D821E827DE9-->